<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceNotes" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/notes_service/ServiceNotes/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceNotes"
                contract="NotesService.IServiceNotes" name="BasicHttpBinding_IServiceNotes" />
        </client>
    </system.serviceModel>
</configuration>